/* Navigatsioon */

.navigatsioon {
    border-bottom: 2px;
    border-bottom-style: solid;
    background-color: white;
    border-color: black;
    text-align: center;
    vertical-align: baseline;
    word-spacing: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0441FA;
}

li {
    display: inline;
}

/* Header */

/* Hero */

.hero {
    block-size: auto;
    text-align: center;
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1250px;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-text {
    padding-top: 594px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sissejuhatus */

#sissejuhatus{
    background-color: #F9FAFB;
}

#sissejuhatus-algus{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 64px;
}

.container-sissejuhatus{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 320px;
    padding-right: 320px;
    padding-bottom: 80px;
}

.container-sissejuhatus div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* Soovitud reisid */

.container-soovitud{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 352px;
    padding-right: 352px;
}

.soovitud-gallerii img{
    width: 387px;
    height: 192px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Reisid */

#reisid{
    background-color: #F9FAFB;
}

#reisid-sissejuhatus{
    text-align: center;
    padding-bottom: 48px;
    padding-top: 80px;
}

.container-reisid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 352px;
    padding-right: 352px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 80px;
}

.reisid-gallerii img{
    width: 387px;
    height: 192px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.reisid-gallerii{
    border-style: solid;
    border-radius: 16px;
    border-color: lightgray;
}

.reisid-kirjeldus{
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Footer */

footer{
    background-color: #101828;
}

footer h3{
    color: white;
}

footer p{
    color: #99A1AF;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 48px;
}

#copyright{
    text-align: center;
    padding-bottom: 48px;
}
